/*  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Exo:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');/*  */
:root{
  --color1:#131415 ;
  --color: #262728 ;
  
  --font-family-Sansation: "Sansation", sans-serif;

}
body {
  letter-spacing: 0px !important;
    padding: 0%;
    margin: 0%;
    font-family: var(--font-family-Sansation) !important;  
    text-transform: capitalize; 
  }
  /* ====================== MEDIA QUERY START ============================= */
  @media (max-width:992px) {
    .main_div .div_1, .main_div .div_2{
      height: 50vh !important;
    }
    .main_div{
    height: 50vh !important;
    position: absolute;
  }
  }
  /* ====================== MEDIA QUERY END ============================= */

  .h_100vh
  {
    object-fit: cover !important;
    width: 100%;
    position: relative !important;
    height: 100vh !important;
  }
.main_div{
    height: 90vh !important;
    position: absolute;
  }
   /* ====================== MEDIA QUERY============================= */

  .bg{
    background-color: var(--color) !important;
  }
  .main_div .div_1, .main_div .div_2{
    height: 90vh !important;
     color: white !important;
    background-color: #58575738 !important;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
  }
 .main_div .div_2{
  position: sticky !important;
  top: 0% !important; 
  height: 100% !important;
  overflow-y: scroll !important;
}
.main_div .div_2::-webkit-scrollbar{
  background-color: transparent !important;
}
.main_div i{
  color: white;
}
.main_div i:hover{
  cursor: grab !important;
}

  .news{
    margin: 0% 35% !important; 
    padding:5px ;
    border-radius: 20px !important;
background-color: white !important;
    top: 1% !important;
    position: fixed !important;
    z-index: 111111111 !important;
  }
/* loader */
.lo{
    transition: 0.9s ease-in-out !important;
    position: absolute;
    z-index: 2;
    background-color: #13141500;
    backdrop-filter: blur(8px);
    height: 100vh;
}
.namespa{
  font-size: 15px;
}

/* HTML: <div class="loader"></div> */
/* From Uiverse.io by Satwinder04 */ 
.loader {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    flex-direction: column;
  }
  
  .loader-text {
    font-size: 24px;
    color: #8b8b8b;
    margin-bottom: 20px;
    align-self: center;
  }
  
  .loader-bar {
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background-color: #292929;
    animation: loader-bar-animation 2s ease-in-out infinite;
  }
  

#d2 video{
    border-radius: 8px;
    /* width: 85vh !important; */
    object-fit: cover;
    background-size: cover;
height: 50vh !important;
border-radius: 5px;
border:5px solid #3a3a3a;
background-position: bottom;
    /* width: 100% !important; */
}



